@import 'tailwindcss';
@plugin '@tailwindcss/forms';

.bg-classic-gradient {
	background: linear-gradient(90deg, rgb(255, 252, 226), rgb(255, 220, 253));
}

body {
	color: var(--color-gray-900);
}

a {
	cursor: pointer;
}

h1 {
	@apply font-fancy text-7xl;
}

h2 {
	@apply font-alice text-xl font-bold uppercase;
}

/* Fonts */

@font-face {
	font-family: 'Forum';
	src: url('/fonts/Forum/Forum-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Alice';
	src: url('/fonts/Alice/Alice-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Herr Von Muellerhoff';
	src: url('/fonts/Herr_Von_Muellerhoff/HerrVonMuellerhoff-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-forum: 'Forum', sans-serif;
	--font-alice: 'Alice', sans-serif;
	--font-fancy: 'Herr Von Muellerhoff', sans-serif;
	--color-accent: var(--color-gray-300);
	--color-primary: rgb(255, 252, 226);
	--color-secondary: rgb(255, 220, 253);
	--color-supplementary: var(--color-gray-500);
}
